
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); 

body
{
	 
	 background-color: rgb(31, 159, 138); 
	 font-family: 'Roboto', sans-serif;
}
.container, .table_container
{
	width: 100%;
	box-sizing: border-box;
	max-width: 1920px;
 
	height: auto;
	min-height: 600px;
	padding: 1em;
	

}

.table_container{
	 overflow-x:auto; 
	 border: none;
	 min-height: auto;
}

.mini_container
{
	width: 50%;
	text-align: center;
	margin: 0 auto;
}

.formCtrls
{
	width: 100%;
	box-sizing: border-box;
	margin: 0.5em 0em;
	box-sizing: border-box;
}

textarea, input
{
	width: 100%;

}

h1, h2, h3
{
	color: ghostwhite;
	font-size: 1.3em;
	text-transform: uppercase;
	text-align: center;
	background-color: unset;
	padding: 0.25em 0em;
	
}

h2
{
	font-size: 1.1em;
}

h3
{
	font-size: 1.0em;
}

.themeButton, .submitButton, select 
{
	padding: 0.25em 0.55em;
	background-color: rgb(214, 111, 11);
	color: white;
	text-transform: uppercase;
	font-size: larger
}

select option{
	
	background-color: #eee;
    color: black;
}

input.themeButton
{
	width: 100%;
}

label
{
	color: white;
	float: left;
}



.loader
{
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 0.5em !important;
	height: 0.5em;
	animation: spin 2s linear infinite;
	text-align: center;

	font-size: 1em;
	text-align: center;
	margin: 0 auto;
	padding: 0.5em;
	margin-top: 1em;
}

@keyframes spin
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}

/* Safari */
@-webkit-keyframes spin
{
	0%
	{
		-webkit-transform: rotate(0deg);
	}
	100%
	{
		-webkit-transform: rotate(360deg);
	}
}

.status
{
	font-size: 1.5em;
	text-align: center;
	max-width: 1280px;
	margin: 0 auto;
	/*transition: all ease  1.0s;*/
}

.error_msg, .warning_msg
{
	text-align: center;
	padding: 0.5em;
	background-color: mistyrose;
	border: 1px solid red;
	color: #a94442;
}

.success_msg
{
	color: #3c763d;
	background-color: #dff0d8;
	padding: 0.5em;
	border: 1px solid green;
}

table tr
{
	color: #444;
	width: 30px;
}

table tr:nth-child(even)
{
	background-color: white ;
}

table tr:nth-child(odd)
{
	background-color: #eee;
}

table tr:nth-child(odd).clicked,
table tr:nth-child(even).clicked {
      background-color: cornsilk !important;
}

table th {
    color: white;
    background-color: #444;
    padding: 0.5em 0.5em;
    font-size: 1em;
    vertical-align: top;
    text-align: left;
    text-transform: uppercase;
    width: auto;
    overflow: hidden;    
}

table td
{
	font-size: 1em;
	vertical-align: text-top;
	font-weight: normal;
	text-align: left;
    overflow: hidden;
}

.sortable{
	cursor: pointer;
}

.sortable:after{
	float: right;
	background-color: transparent;
	opacity: 0.7; 
	content: " "; 
	background-image: url(../icons/sort_24_white.png?v=3);
	width:20px;
	height:23px;
}

@media only screen and (max-width :  480px)
{
	.container{min-width: 410px}
	
	table th
	{
		font-size: 0.9em;
		white-space: nowrap;
		overflow: hidden;
	}
}

.logo{
	background-image: url(https://32a8uf21bv9y2zeceg1suvz1-wpengine.netdna-ssl.com/wp-content/uploads/2021/10/Elogbooks-SRC-logo-web.png);
    width: 403px;
    height: 108px;
}